{% extends 'base.html.twig' %}
{% set pageTitle = "Beacons" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="float-right"><button data-href="{{ url("beacon_new") }}" type="button" class="btn btn-block btn-outline-primary">Add Beacon</button></div>
        </div>
        <div class="card-body">
          <table id="beaconsList" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Beacon ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>Address Type</th>
              <th>Enabled</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for beacon in beacons %}
            <tr>
              <td>{{ beacon.id }}</td>
              <td>{{ beacon.name }}</td>
              <td>{{ beacon.address }}</td>
              <td>{{ beacon.addressType }}</td>
              <td><i class="nav-icon fas {{ beacon.isEnabled ? 'fa-check' : 'fa-times' }}"></i></td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default" data-href="{{ url("beacon_edit",{beacon: beacon.id}) }}"><i class="nav-icon fas fa-edit"></i></button>
                  <button type="button" class="btn btn-default" data-href="{{ url("beacon_remove",{beacon: beacon.id}) }}"><i class="nav-icon fas fa-trash"></i></button>

                </div>
              </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
              <th>Beacon ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>Address Type</th>
              <th>Enabled</th>
              <th>Actions</th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
  <script src="{{ asset('js/beacons.js') }}"></script>
{% endblock %}