{% extends 'base.html.twig' %}
{% set pageTitle = "Home" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for beacon in beacons %}
                <div class="col-4">
                    <div class="card card-widget widget-user-2 shadow-sm" data-url="{{ url("beacon", {"beacon": beacon.id}) }}">
                        <div class="widget-user-header bg-info">
                            <h3 class="widget-user-username">{{ beacon.name }}</h3>
                            <h5 class="widget-user-desc">{{ beacon.address }} ({{ beacon.addressType }})</h5>
                            <h6 class="widget-user-desc">Last update: <span class="lastUpdate"></span></h6>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Uptime <span class="float-right uptime">-</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        RSSI <span class="float-right rssi">-</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        GyroX <span class="float-right gyroX">-</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        GyroY <span class="float-right gyroY">-</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        GyroZ <span class="float-right gyroZ">-</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        AccelX <span class="float-right accelX">-</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        AccelY <span class="float-right accelY">-</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        AccelZ <span class="float-right accelZ">-</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}