<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ url('default') }}" class="brand-link">
        <img src="{{ asset('adminlte/img/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">TFM</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{{ url('default') }}" class="nav-link {{ app.request.attributes.get('_route')== "default" ? "active" }}">
                        <i class="nav-icon fa fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url('beacons_list') }}" class="nav-link {{ app.request.attributes.get('_route')== "beacons_list" ? "active" }}">
                        <i class="nav-icon fa fa-broadcast-tower"></i>
                        <p>
                            Beacons
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url('data_gyro') }}" class="nav-link {{ app.request.attributes.get('_route')== "data_gyro" ? "active" }}">
                        <i class="nav-icon fa fa-list"></i>
                        <p>
                            Gyro History
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url('data_accel') }}" class="nav-link {{ app.request.attributes.get('_route')== "data_accel" ? "active" }}">
                        <i class="nav-icon fa fa-list"></i>
                        <p>
                            Accel History
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url('data_status') }}" class="nav-link {{ app.request.attributes.get('_route')== "data_status" ? "active" }}">
                        <i class="nav-icon fa fa-list"></i>
                        <p>
                            Status History
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url('app_logout') }}" class="nav-link {{ app.request.attributes.get('_route')== "app_logout" ? "active" }}">
                        <i class="nav-icon fa fa-sign-out-alt"></i>
                        <p>
                            Logout
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>