{% extends 'base.html.twig' %}
{% set pageTitle = "Data" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <table id="statusDataHistory" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>Beacon</th>
              <th>Uptime</th>
              <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            {% for data in dataHistory %}
            <tr>
              <td>{{ data.id }}</td>
              <td>{{ data.beacon.name }}</td>
              <td>{{ msToTime(data.uptime) }}</td>
              <td>{{ data.createdAt | date("Y-m-d H:i:s") }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
              <th>ID</th>
              <th>Beacon</th>
              <th>Uptime</th>
              <th>Created At</th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
  <script src="{{ asset('js/statusDataHistory.js') }}"></script>
{% endblock %}